{% extends 'base.html.twig' %}

{% block title %}
    Mes Disponibilités
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow p-4 mb-4">
                <h2>Mes Disponibilités récurrentes</h2>
                {{ include('availability/_showAll.html.twig', {availabilities: recurringAvailabilities ?? null}) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow p-4 mb-4">
                <h2>Mes Disponibilités exceptionnelles</h2>
                {{ include('availability/_showAll.html.twig', {availabilities: exceptionalAvailabilities ?? null}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
