{% extends 'base.html.twig' %}

{% block title %}Inscription ou connexion{% endblock %}

{% block body %}
    {% embed '_card.html.twig' %}
        {% block content %}
            <h2 class="mb-4 text-center">Inscrivez-vous ou connectez-vous</h2>
            <p class="fw-bold">Nouveau sur Hospitme ?</p>
            <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg w-100 mb-3">S'inscrire</a>
            <p class="fw-bold">Vous avez déjà un compte ?</p>
            <a href="{{ path('app_login') }}" class="btn btn-danger btn-lg w-100">Se connecter</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
