{% extends 'base.html.twig' %}

{% block title %}
    Mes Rendez-vous
{% endblock %}

{% block body %}

    <h1>Mes consultations futures</h1>
    {{ include('patient/_appointment.html.twig', {appointments: futurAppointments}) }}

    <h1>Mes consultations passées</h1>
    {{ include('patient/_appointment.html.twig', {appointments: pastAppointments}) }}
{% endblock %}
