<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ordonnance</title>
        <style>
            body {
                margin: 20px;
            }
            h1 {
                text-align: center;
                color: #2c3e50;
            }
            .content {
                margin-top: 20px;
            }
            .infoPrescription {
                text-align: right;
            }
        </style>
    </head>
    <body>
        <h1>Ordonnance médicale</h1>
        <div class="infoPrescription">
            <p>Fait le {{ date|date('Y-m-d') }}</p>
            <p>En présence de
            {% for hp in consultation.healthProfessional %}
                <b>{{ hp.lastname }} {{ hp.firstname }},</b>
            {% endfor %}
            </p>
            <p>de l'hôpital Sébastopol</p>
        </div>
        <div class="content">
            <p>{{ consultation.prescription }}</p>
        </div>
    </body>
</html>
