{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}
    <h1>Consultez la Foire aux questions !</h1>

    <div class="container-faq">

        <div class="questions">
            <div class="visible-pannel">
                <h2>Comment puis-je réserver une consultation en ligne ?</h2>
            </div>
            <div class="toggle-pannel">
                <h4>Comment puis-je réserver une consultation en ligne ?</h4>
                <p>Vous pouvez réserver une consultation en ligne en vous rendant sur notre plateforme de réservation. Sélectionnez votre spécialité, le médecin de votre choix, et un créneau disponible. Une confirmation vous sera envoyée par email une fois la réservation effectuée.</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Dois-je créer un compte pour prendre rendez-vous ?</h2>
            </div>
            <div class="toggle-pannel">
                <h4>Dois-je créer un compte pour prendre rendez-vous ?</h4>
                <p>Oui, il est nécessaire de créer un compte patient pour accéder à notre service de réservation en ligne. Cela permet de gérer vos rendez-vous et de recevoir des rappels automatiquement.</p>
            </div>
        </div>
    </div>
{% endblock %}
